<style>
    html body {
        font-family: '{{ .Site.Params.font }}', sans-serif;
        background-color: {{ .Site.Params.backgroundColor | default "white" }};
    }
    .navbar.navbar-default.navbar-fixed-top {
        font-family: '{{ .Site.Params.font }}', sans-serif;
        background-color: {{ .Site.Params.backgroundColor | default "white" }};
    }
    .collapse.navbar-collapse.navbar-right {
        font-weight: bold;
    }
    .navbar-default {
        border-color: {{ .Site.Params.backgroundColor | default "gray" }} !important;
    }
    .icon-with-text {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .icon-with-text img, .icon-with-text svg {
        margin-right: var(--padding-small);
        width: 22px;
        height: 22px;
        fill: #000000;
    }
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footnote {
        align-self: flex-end;
    }
    .footnote a {
        color: #777;
        text-decoration: none;
        margin: 10px 5px;
    }
    .footnote a:hover {
        color: var(--accent) !important;
        text-decoration: none;
    }
</style>

<!-- main -->
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

<!-- custom -->
{{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}

<!-- google fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family={{ .Site.Params.font }}">

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- font awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
