<style>
    @font-face {
        font-family: 'Trade Gothic LT Std';
        font-style: normal;
        font-weight: 100;
        src: local('Trade Gothic LT Std'), url(/font/trade-gothic-lt-std-58d034645c5df.otf) format('otf');
    }
    html body {
        font-family: '{{ .Site.Params.font }}', sans-serif;
        background-color: {{ .Site.Params.backgroundColor | default "white" }};
    }
    .navbar.navbar-default.navbar-fixed-top {
        font-family: '{{ .Site.Params.font }}', sans-serif;
        background-color: {{ .Site.Params.backgroundColor | default "white" }};
        margin-top: 10px;
    }
    .navbar, .navbar-header {
        height: 70px;
    }
    .navbar-default {
        border-color: {{ .Site.Params.backgroundColor | default "gray" }} !important;
    }
    .icon {
        margin-top: 10px;
        height: 18px;
    }
    .footnote {
        padding-left: 10px;
        padding-bottom: 25px;
        text-align: left;
    }
    .footnote a {
        align-self: flex-start;
        color: #777;
        text-decoration: none;
        margin: 10px 5px;
    }
    .footnote a:hover {
        color: var(--accent) !important;
        text-decoration: none;
    }
    img.logo {
        max-height: 40px;
    }
    
</style>

<!-- main -->
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

<!-- custom -->
{{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }}

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
